entrypoints
Flask
Flask-SocketIO
Flask-WTF
numpy
opencv-python
pandas
pexpect
pickleshare
Pillow
requests
requests-unixsocket
scipy
seaborn
texttable
torch==1.9.1
torchvision
tqdm
traitlets
urllib3
pyyaml
IPython
psutil
kafka-python